<app-header></app-header>

<div
  class="container"
  style="padding-top: 110px; padding-bottom: 100px; min-height: 95vh;"
>
  <div
    class="row"
    style="justify-content: center;"
    *ngIf="isSearchable && !isLoading"
  >
    <div
      class="row input-group mb-3"
      style="width: 45%; padding-bottom: 0; margin-bottom: 0px !important;"
    >
      <div class="input-group-prepend">
        <button
          class="btn btn-outline-secondary dropdown-toggle"
          style="
            color: #1781c6;
            background-color: #e9ecef;
            border-color: #e9ecef;
          "
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{
            searchCategory == "status"
              ? "Status"
              : searchCategory == "reg_no"
              ? "Reg. No."
              : "Manual Rating"
          }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="changeSearchCategory('status')"
            >Status</a
          >
          <a class="dropdown-item" (click)="changeSearchCategory('reg_no')"
            >Reg. No.</a
          >
          <a
            class="dropdown-item"
            (click)="changeSearchCategory('manual_rating')"
            >Manual Rating</a
          >
        </div>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Search status"
        aria-label="Search"
        name="searchStatus"
        id="searchStatus"
        autocomplete="off"
        list="statusSearchList"
        (keyup)="getSearchText($event)"
        #searchCandidateByStatus
        *ngIf="searchCategory == 'status'"
      />
      <datalist id="statusSearchList" *ngIf="searchCategory == 'status'">
        <option *ngFor="let status of statuses" [value]="status"> </option>
      </datalist>
      <input
        type="text"
        class="form-control"
        placeholder="Search Registration No."
        aria-label="Search"
        name="searchRegNo"
        id="searchRegNo"
        (keyup)="getSearchText($event)"
        #searchCandidateByRegNo
        *ngIf="searchCategory == 'reg_no'"
      />
      <select
        class="form-control"
        aria-label="Search"
        name="searchRating"
        id="searchRating"
        #searchCandidateByRating
        *ngIf="searchCategory == 'manual_rating'"
      >
        <option selected="true" disabled="disabled">Select Candidate Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <div class="input-group-append">
        <span
          class="input-group-text"
          id="basic-addon2"
          style="padding: 0; width: 40px; border: none;"
        >
          <button class="search-btn" (click)="getCandidate()">
            <svg
              class="bi bi-search"
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              fill="#1781c6"
              style="vertical-align: middle;"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                clip-rule="evenodd"
              />
              <path
                fill-rule="evenodd"
                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                clip-rule="evenodd"
              />
            </svg></button
        ></span>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="margin-top: 25px; border: 1px solid lightgray; border-radius: 10px;"
    *ngIf="!isSearchable && !isLoading"
  >
    <div
      class="row"
      style="justify-content: center; width: 100%; padding: 15px;"
    >
      <h6 style="color: #1781c6; font-size: 1.25rem;">Candidate Details</h6>
    </div>
    <div
      class="row"
      style="justify-content: center; width: 100%; padding: 15px;"
    >
      <table class="table" style="width: 85%;">
        <tbody>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Registration No.
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].registration_no }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Full Name
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].full_name }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Email
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].email_id }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Mobile No.
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].mobile_no }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Primary Skills
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].primary_skills }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Experience
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].experience }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Qualification
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].qualification }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Passing Year
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].year_of_completion }}
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Resume Location
            </td>
            <td>
              <a
                mat-raised-button
                href="http://recruitment-system-internal.us-e2.cloudhub.io/downloadresume?reg_no={{
                  candidates[0].registration_no
                }}"
                target="_blank"
                >Download</a
              >
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Interviwer
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="interviewerName"
                placeholder="Enter Interviewer Name"
                style="width: 50%; font-size: larger;"
                (change)="fieldCapture('InterviewDetails', 'Name', $event)"
              />
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Interviwer`s Feedback
            </td>
            <td>
              <textarea
                class="form-control"
                id="feedBack"
                rows="2"
                cols="100"
                style="resize: none;"
                placeholder="max 500 char. "
                (change)="fieldCapture('InterviewDetails', 'FeedBack', $event)"
              ></textarea>
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Current Round
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].current_round }}
            </td>
          </tr>
          <tr
            *ngIf="
              !(candidates[0].current_round == 'MANUAL SCREENING') &&
              !(candidates[0].rating == '0')
            "
          >
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Rating
            </td>
            <td style="font-size: larger; font-weight: 900;">
              {{ candidates[0].rating }}
            </td>
          </tr>
          <tr *ngIf="candidates[0].current_round == 'MANUAL SCREENING'">
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Rating
            </td>
            <td>
              <select
                class="custom-select mr-sm-2"
                style="width: 15%;"
                id="newStatus"
                (change)="fieldCapture('InterviewDetails', 'Rating', $event)"
              >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="font-size: larger; border-right: 1px solid #1781c6;">
              Next Round
            </td>
            <td>
              <select
                class="custom-select mr-sm-2"
                style="width: 35%;"
                id="newStatus"
                (change)="
                  fieldCapture('InterviewDetails', 'Next_Status', $event)
                ">                 
                <option 
                  *ngFor="let status of avaliableStatus" 
                  [value]="status"
                  >
                  {{ status }}
                </option>
              </select>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" style="width: 100%; padding-bottom: 25px;">
      <div class="d-flex justify-content-center" style="width: 100%;">
        <div
          *ngIf="
            !(
              candidates[0].current_round == 'SELECTED' ||
              candidates[0].current_round == 'REJECTED'
            ) &&
            !(
              this.InterviewDetails.Next_Status == 'REJECTED' ||
              this.InterviewDetails.Next_Status == 'DUPLICATE'
            )
          "
        >
          <button
            class="btn submit-btn"
            style="margin-right: 35px;"
            data-toggle="modal"
            data-target="#selectCandidateModal"
          >
            Advance to {{ this.InterviewDetails.Next_Status }}
          </button>
        </div>
        <div>
          <button
            class="btn add-btn"
            style="margin-right: 35px;"
            data-toggle="modal"
            data-target="#skipCandidateModal"
          >
            Skip Candidate
          </button>
        </div>
        <div
          *ngIf="
            !(
              candidates[0].current_round == 'SELECTED' ||
              candidates[0].current_round == 'REJECTED'
            ) &&
            (this.InterviewDetails.Next_Status == 'REJECTED' ||
              this.InterviewDetails.Next_Status == 'DUPLICATE')
          "
        >
          <button
            class="btn cancel-btn"
            style="margin-right: 35px;"
            data-toggle="modal"
            data-target="#rejectCandidateModal"
          >
            Reject in {{ candidates[0].current_round }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row"
    style="
      margin-top: 25px;
      height: 150px;
      justify-content: center;
      vertical-align: middle;
    "
    *ngIf="isLoading"
  >
    <div class="loader"></div>
  </div>
</div>
<app-footer></app-footer>
<div
  class="modal fade"
  id="toggleAlertModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  #toggleAlertModal
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h3 class="modal-title" id="exampleModalLongTitle">
          Recruitment Portal Alert
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 10px 20px 25px;">
          {{ errorMessage }}
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button
              class="btn cancel-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="selectCandidateModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  #selectCandidateModal
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h3 class="modal-title" id="exampleModalLongTitle">
          Select candidate for next round
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 10px 20px 25px;">
          Do you want to select candidate for next round ?
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button class="btn submit-btn" (click)="interviewResult('SELECT')">
              Yes
            </button>
          </div>
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button
              class="btn cancel-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="rejectCandidateModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  #rejectCandidateModal
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h3 class="modal-title" id="exampleModalLongTitle">
          Reject candidate
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 10px 20px 25px;">
          Do you want to reject candidate ?
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button class="btn submit-btn" (click)="interviewResult('REJECT')">
              Yes
            </button>
          </div>
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button
              class="btn cancel-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="skipCandidateModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  #skipCandidateModal
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h3 class="modal-title" id="exampleModalLongTitle">
          Skip candidate
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="padding: 10px 20px 25px;">
          Do you want to skip candidate ?
        </div>
        <div class="row">
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button class="btn submit-btn" (click)="releaseCandidate()">
              Yes
            </button>
          </div>
          <div
            class="col"
            style="text-align: center; padding-top: 5px; padding-bottom: 5px;"
          >
            <button
              class="btn cancel-btn"
              data-dismiss="modal"
              aria-label="Close"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
