.add-user{
  color: #fff;
  border: none;
  outline: none;
}

.add-btn{
  background-color: #1781c6;
  color: #fff;
  border: none;
  outline: none;
}

.submit-btn{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  outline: none;
}

.cancel-btn{
  background-color: #d83939;
  color: #fff;
  border: none;
  outline: none;
}

.search-btn{
  border: none !important;
  width: 100%;
  background: none;
  height: 100%;
  outline: none !important;
}

#searchStatus, #searchRegNo{
  border-color: lightgray;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.userPreferencesSelect{
  position: fixed;
  left: 27%;
  width: 16%;
}

.submit-btn{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  outline: none;
}
@media (min-width: 1366px){
  .container {
    max-width: 1320px;
  }
}
.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
