<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="https://secureservercdn.net/198.71.233.227/azj.c88.myftpupload.com/wp-content/uploads/2020/02/Untitled-design-6-copy.png"
      width="150"
      height="60"
      class="d-inline-block align-top"
      alt="logo"
    />
  </a>
  <div class="navbar-header" style="margin-right: 135px;">
    <a class="navbar-brand app-name" href="#"
      ><font style="color: #1781c6;">BATS</font></a
    >
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li
        class="nav-item"
        [routerLink]="['/orders']"
        [routerLinkActive]="['active']"
      >
        <a class="nav-link" href="/orders"
          >Orders <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [routerLink]="['/clients']"
        [routerLinkActive]="['active']"
      >
        <a class="nav-link" href="/clients"
          >Clients <span class="sr-only">(current)</span></a
        >
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="logout()">
          <font>Sign out</font>
          <svg
            class="bi bi-box-arrow-left"
            style="padding-left: 5px; vertical-align: middle;"
            width="1.5em"
            height="1.5em"
            viewBox="0 0 16 16"
            fill="#1781c6"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.354 11.354a.5.5 0 000-.708L1.707 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M11.5 8a.5.5 0 00-.5-.5H2a.5.5 0 000 1h9a.5.5 0 00.5-.5z"
              clip-rule="evenodd"
            />
            <path
              fill-rule="evenodd"
              d="M14 13.5a1.5 1.5 0 001.5-1.5V4A1.5 1.5 0 0014 2.5H7A1.5 1.5 0 005.5 4v1.5a.5.5 0 001 0V4a.5.5 0 01.5-.5h7a.5.5 0 01.5.5v8a.5.5 0 01-.5.5H7a.5.5 0 01-.5-.5v-1.5a.5.5 0 00-1 0V12A1.5 1.5 0 007 13.5h7z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>
