<footer class="footer bg-light" style="left: 0;bottom: 0; width: 100%;">
  <div class="container" style="padding: 20px 0px">
    <div class="row">
      <div class="col" style="text-align: center;"><font style="font-style: italic;">Support @BATS - Team</font></div>
      <div class="col">
        <div class="row">
          <a href="sanjeet.dahake@apisero.com">Sanjeet Dahake</a>
        </div>
        <div class="row">
          <a href="monil.porwal@apisero.com">Monil Porwal</a>
        </div>
        <div class="row">
          <a href="chetan.joshi@apisero.com">Chetan Joshi</a>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <a href="mihir.sao@apisero.com">Mihir Sao</a>
        </div>
        <div class="row">
          <a href="akash.shewale@apisero.com">Akash Shewale</a>
        </div>
        <div class="row">
          <a href="mihir.sao@apisero.com"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
