<div class="container">
  <div class="row" id="logo">
    <img
      src="https://secureservercdn.net/198.71.233.227/azj.c88.myftpupload.com/wp-content/uploads/2020/02/Untitled-design-6-copy.png"
      width="150"
      height="60"
      class="d-inline-block align-top"
      alt="logo"
    />
  </div>
  <!-- <div class="row" id="title">
    <font>Smart Sales</font>
  </div> -->
  <div class="row" id="form">
    <form
      class="login-form"
      style="width: 75%;"
      [formGroup]="logInForm"
      (ngSubmit)="LoginUser()"
    >
      <div class="row">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username">
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
        </div>
      </div>
      <div class="row">
        <button mat-stroked-button class="btn-block">
          Sign in
        </button>
      </div>
    </form>
  </div>
  <div class="row" *ngIf="loginErr">
    <font class="form-error">Username / Password is INCORRECT !</font>
  </div>
  <div class="row" style="justify-content: center; vertical-align: middle;" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
</div>
<div class="background"></div>
