/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat" !important;
  /* background-color: #f5f5f5 !important; */
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat" !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #4da307;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #a3e96a;
}

.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
